// Everything
$background-color: black;
$body-text: #ff745e;

// Font Variables
$Monoton: 'Monoton', cursive;
$Knewave: 'Knewave', cursive;
$Averia: 'Averia Serif Libre', cursive;

// links
$hover-color: #C45EFF;