/* reset default styles */
@import 'variables.scss';
@import url(https://fonts.googleapis.com/css?family=Monoton&display=swap);
@import url(https://fonts.googleapis.com/css?family=Knewave&display=swap);
@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap);

html,
body {
  height: 100%;
  text-align: center;
}

body {
  background: $background-color;
  color: $body-text;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

// ----------------------------------------------------------------------------------------
//menus
.form-control {
  color: blueviolet !important;
  background-color: transparent !important;
  border: 1px solid $body-text;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 20px 20px 20px 20px;
}

#login-form {
  margin: 100px auto 200px auto;
}

#login-password {
  padding: 10px;
  margin-bottom: 10px;
}

// ----------------------------------------------------------------------------------------
//images

img {
  border-radius: 5px;
}

#splash {
  border-radius: 300px;
}

.loading {
  animation: rotation 0.5s infinite linear;
}

// for rotating
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// ----------------------------------------------------------------------------------------
//all links
a {
  text-decoration: none;
  &:visited {
    color: $body-text;
  }
  &:hover {
    color: $hover-color;
  }
}

// ----------------------------------------------------------------------------------------
// header

header {
  text-align: center;
  font-family: $Monoton;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

// ----------------------------------------------------------------------------------------
// footer

footer {
  text-align: left;
  font-size: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

#splash {
  margin-top: 50px;
}

// ----------------------------------------------------------------------------------------
// gifter - giftee table
th {
  text-align: center;
  // font-size: 2.4rem;
  font-family: 'Knewave', cursive;
}

tr {
  text-align: center;
  font-family: $Averia;
  // font-size: 1.8rem;
  &:hover {
    color: lawngreen;
  }
}

// ----------------------------------------------------------------------------------------
// query box

.list-card {
  background-color: #000;
  border-radius: 5px;
  border: 2px solid $body-text;
  margin: 30px 30px 30px 30px;
}

// fix spacing for wishlist card content
section div .ce-header {
  padding: 10px 0px;
  margin: 0;
}

// change colors for links in lists
.ce-block a {
  color: #5ee9ff;
  text-decoration: none;
  &:visited {
    color: #5ee9ff;
  }
  &:hover {
    color: $hover-color;
  }
}

#list-card-list {
  padding: 20px 20px 20px 20px;
  font-family: 'Averia Serif Libre', cursive;
}

// remove margin by editorjs for list cards only
section .codex-editor--narrow .codex-editor__redactor {
  margin-right: 10px;
}

.wishlist-display {
  margin: 30px 30px 30px 30px;
}

// ----------------------------------------------------------------------------------------
// list submission page

#editorjs-box {
  color: $body-text !important;
  background-color: #000 !important;
  border: 1px solid $body-text;
  border-radius: 10px;
  // padding-left: 10px;
}

// ----------------------------------------------------------------------------------------
// buttons

button,
input[type='button'],
input[type='submit'] {
  background-color: transparent;
  border-color: blueviolet;
  font-size: 2rem;
  font-family: 'Knewave', cursive;
  color: #ff745e;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;
  &:hover {
    color: $hover-color;
  }
}

// ----------------------------------------------------------------------------------------
// breakpoints

// big screen
@media screen and (min-width: 1022px) {
  body {
    font-size: 1.5rem;
  }

  th {
    font-size: 2.4rem;
  }

  tr {
    font-size: 1.8rem;
  }

  .ce-block__content {
    padding-left: 10px;
    max-width: 650px;
    width: 650px;
  }

  #list-card-list {
    padding: 20px 20px 20px 20px;
  }
}

// medium screen
@media screen and (min-width: 421px) and (max-width: 1021px) {
  body {
    font-size: 1.35rem;
  }

  img {
    height: 400px;
    width: 400px;
  }

  th {
    font-size: 2rem;
  }

  tr {
    font-size: 1.5rem;
  }

  .ce-block__content {
    padding-left: 10px;
    max-width: 450px;
    width: 450px;
  }

  #list-card-list {
    padding: 0px;
  }
}

// small screen
@media screen and (max-width: 420px) {
  body {
    font-size: 1.2rem;
  }

  th {
    font-size: 1.9rem;
  }

  tr {
    font-size: 1.3rem;
  }

  img {
    height: 300px;
    width: 300px;
  }

  .ce-block__content {
    margin: 0px 10px;
    max-width: 350px;
    width: 300px;
  }

  #list-card-list {
    padding: 0px;
  }
}
